// sidebar
$menuText:#0c0f08;
$menuActiveText:#6767b7;
$subMenuActiveText:#6767b7; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#eafcfc;
$menuHover:#B0E0E6;

$subMenuBg:#E0FFFF;
$subMenuHover:#B0E0E6;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
